DB_HOST=localhost
DB_PORT=27017
DB_NAME=kullvahatt
APP_PORT=3000
PASSWORD_HASH=884141AADSADasda141241
ACCESS_TOKEN_SECRET_KEY=884141AADSADasda141241
REFRESH_TOKEN_SECRET_KEY=884141AADSADasda141241884141AADSADasda141241
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_ADDRESS=example@gmail.com
EMAIL_PASSWORD=test
EMAIL_FROM=noreply